.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex: 1;
    margin-top: 56px;
}

.main .row {
    height: 100%;
}

.forms, .chart {
    display: block;
    min-height: 680px;
    overflow: hidden;

}

.form-control-plaintext:focus {
    outline: none;
}

.text-bold {
    font-size: 1.2em;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
}